.Container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.444);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.PopUp {
  width: 40rem;
  height: 20rem;
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.heading {
  font-weight: 600;
  font-family: var(--font-noto-sans);
  font-size: 1.4rem;
}

.buttonContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
